@media (max-width: 1025px)
{
#registration-button
{
  position: relative;
  top: 25%;
  font-family: Verdana;
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 5%;	
}

#enter-button
{
  position: relative;
  top: 25%;
  left:75%;
  font-family: Verdana;
  font-size: 16px;
  color: #FFFFFF;	
}

.inf
{
  position: relative;
  width: 330px;
  height: 80px;
  left: 5%;
  margin-top: 40px;
  font-family: Verdana;
  font-size: 20px;
  background: rgba(25, 51, 70, 0.6);
  color: #ffffff;
}

.inf > p
{
  position: relative;
  left:15%;
  top: 30%;	
}

.inf_big
{
  position: relative;
  left: 55%;
  top: -120px;
  width: 300px;
  height: 190px;
  font-family: Verdana;
  font-size: 24px;
  background: rgba(25, 51, 70, 0.6);
  color: #ffffff;	
}

.inf_big  p
{
  position: relative;
  margin-top: -25px;
  margin-left: 5%;
}

#registration-window
{
  display: none;
  position: relative;
  margin-left: 20%;
  margin-top: -600px; 
  width: 500px;
  height: 350px;
  background-color: #193346;
}

#enter-window
{
  display: none;
  position: relative;
  margin-left: 20%;
  margin-top: -600px; 
  width: 500px;
  height: 350px;
  background-color: #193346;
}

.form1
{
  margin-left: 80px;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 14px;
  font-family: Verdana;
  width: 350px;
  height: 30px;	
  border-radius: 10px;
  border: 1px black solid;
}

.accept_button
{
  width: 250px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: #C6FF4B;
  font-size: 18px;
  font-family: Verdana;
  margin-top: 20px;
  margin-left: 120px;
}

#green-button1
{
  font-family: Verdana;
  font-size: 18px;
  text-align: center;	
  width: 150px;
  height: 25px;
  margin-left: -100px;
  background-color: #C6FF4B;
  border-radius: 70px;
  position: relative;
  left: 70%;
  top: -4.7%;	
}

#green-button2
{
  font-family: Verdana;
  font-size: 18px;
  width: 150px;
  height: 25px;
  background-color: #C6FF4B;
  border-radius: 70px;
  text-align: center;
  position: relative;
  left: 78%;
  top: -9%;	
}

#green-button4
{
  font-family: Verdana;
  font-size: 16px;
  width: 120px;
  height: 25px;
  background-color: #C6FF4B;
  border-radius: 70px;
  text-align: center;
  position: relative;
  left: 80%;
}

#first-ul > li
{
  margin: 0;
  display: inline;
  color: #ffffff;
  font-size: 16px;
  font-family: Verdana;
  margin-left: 10%; 	
}

#for-input-ul1
{
  font-size: 16px;
  color: #ffffff;
  list-style-type: none;
  position: relative; 
  left: 10%;	
}

#for-input-ul2
{
  font-size: 16px;
  color: #ffffff;
  list-style-type: none;
  position: relative;
  left: 28%;
  top: -20%;	
}

#for-input-ul3
{
  font-size: 16px;
  color: #ffffff;
  list-style-type: none;
  position: relative;
  left: 43%;
  top: -40%;		
}

#for-input-ul4
{
  font-size: 16px;
  color: #ffffff;
  list-style-type: none;
  position: relative;
  left: 58%;
  top: -60%;	
}

#for-input-ul5
{
  font-size: 16px;
  color: #ffffff;
  list-style-type: none;
  position: relative;
  left: 75%;
  top: -80%;	
}

}	