body
{
  background: url(background.jpg);
  overflow: hidden; 
}

#jsfromflask
{
  display: none;
}
#header
{
 display: grid;
 margin-top: -1%;
 margin-left: -0.5%;
 width: 101%;
 grid-template-columns: 6fr 2fr 2fr;
 grid-template-rows: 100px;
 background-color: #193346;
 border-radius: 0px 0px 50px 50px;
}

#main-text
{
  position: relative;
  top: -20%;
  left: 2%;
  font-family: Verdana;
  font-size: 40px;
  color: #FFFFFF;
}

#registration-button
{
  position: relative;
  top: 25%;
  font-family: Verdana;
  font-size: 18px;
  color: #FFFFFF;
  padding-left: 1%;	
}

#enter-button
{
  position: relative;
  top: 25%;
  left:80%;
  font-family: Verdana;
  font-size: 18px;
  color: #FFFFFF;	
}

#main
{
  display: block;
  margin-top: 8%;
}

.inf
{
  position: relative;
  width: 450px;
  height: 80px;
  left: 5%;
  margin-top: 40px;
  font-family: Verdana;
  font-size: 24px;
  background: rgba(25, 51, 70, 0.6);
  color: #ffffff;
}

.inf > p
{
  position: relative;
  left:15%;
  top: 30%;	
}

.inf_big
{
  position: relative;
  left: 60%;
  top: -120px;
  width: 400px;
  height: 250px;
  font-family: Verdana;
  font-size: 30px;
  background: rgba(25, 51, 70, 0.6);
  color: #ffffff;	
}

.inf_big  p
{
  position: relative;
  margin-top: -25px;
  margin-left: 5%;
}

#registration-window
{
  display: none;
  position: relative;
  margin-left: 30%;
  margin-top: -600px; 
  width: 600px;
  height: 350px;
  background-color: #193346;
}

.close-button
{
  color: #ffffff;
  font-family: Verdana;
  margin-left: 95%;
  position: relative;
  top: -60px;

}

#registration-window p
{
  color: #ffffff;
  font-size: 30px;
  font-family: Verdana;	
  position: relative;
  left: 35%;
  top: 2%;
}

.form1
{
  margin-left: 120px;
  margin-right: 50px;
  margin-top: 10px;
  font-size: 14px;
  font-family: Verdana;
  width: 350px;
  height: 30px;	
  border-radius: 10px;
  border: 1px black solid;
}

.accept_button
{
  width: 250px;
  height: 30px;
  border-radius: 50px;
  border: 1px solid black;
  background-color: #C6FF4B;
  font-size: 18px;
  font-family: Verdana;
  margin-top: 20px;
  margin-left: 160px;
}
#enter-window
{
  display: none;
  position: relative;
  margin-left: 30%;
  margin-top: -600px; 
  width: 600px;
  height: 350px;
  background-color: #193346;
}

#enter-window p
{
  color: #ffffff;
  font-size: 30px;
  font-family: Verdana;	
  position: relative;
  left: 43%;
  top: 2%;
}

#main2
{
  display: none;  
  width: 100%;
  height: 580px;
  opacity: 0.8;
  background-color: #193346;
  border-radius: 20px;	
}

#main2 p
{
  font-family: Verdana;
  font-size: 24px;
  color: #ffffff;
  position: relative;
  top: 20px;
  left: 30px;
}

#green-button1
{
  font-family: Verdana;
  font-size: 18px;
  text-align: center;	
  width: 150px;
  height: 25px;
  margin-left: -20px;
  background-color: #C6FF4B;
  border-radius: 70px;
  position: relative;
  left: 74%;
  top: -4.7%;	
}

#green-button2
{
  font-family: Verdana;
  font-size: 18px;
  width: 150px;
  height: 25px;
  background-color: #C6FF4B;
  border-radius: 70px;
  text-align: center;
  position: relative;
  left: 85%;
  top: -9%;	
}

#tags-window
{
  display: none;
  width: 100%;
  height: 580px;
  border-radius: 20px;
  opacity: 0.8;
  background-color: #193346;
  margin-top: 240px;	
}

#green-button3
{
  font-family: Verdana;
  font-size: 24px;
  text-align: center;	
  width: 240px;
  height: 30px;
  margin-left: -20px;
  background-color: #C6FF4B;
  border-radius: 70px;
  position: relative;
  left: 5%;
  top: 4%;	
}

#green-button4
{
  font-family: Verdana;
  font-size: 18px;
  width: 150px;
  height: 25px;
  background-color: #C6FF4B;
  border-radius: 70px;
  text-align: center;
  position: relative;
  left: 85%;
}

#first-ul > li
{
  margin: 0;
  display: inline;
  color: #ffffff;
  font-size: 24px;
  font-family: Verdana;
  margin-left: 10.5%; 	
}

#for-input-ul1
{
  font-size: 24px;
  color: #ffffff;
  list-style-type: none;
  position: relative; 
  left: 10%;	
}

#for-input-ul2
{
  font-size: 24px;
  color: #ffffff;
  list-style-type: none;
  position: relative;
  left: 28%;
  top: -28%;	
}

#for-input-ul3
{
  font-size: 24px;
  color: #ffffff;
  list-style-type: none;
  position: relative;
  left: 43%;
  top: -56%;		
}

#for-input-ul4
{
  font-size: 24px;
  color: #ffffff;
  list-style-type: none;
  position: relative;
  left: 58%;
  top: -83%;	
}

#for-input-ul5
{
  font-size: 24px;
  color: #ffffff;
  list-style-type: none;
  position: relative;
  left: 75%;
  top: -110%;	
}