@media (max-width: 1281px)
{
#main-text
{
  position: relative;
  top: 0%;
  left: 2%;
  font-family: Verdana;
  font-size: 32px;
  color: #FFFFFF;
}

#registration-button
{
  position: relative;
  top: 25%;
  font-family: Verdana;
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 3%;	
}

#enter-button
{
  position: relative;
  top: 25%;
  left:80%;
  font-family: Verdana;
  font-size: 16px;
  color: #FFFFFF;	
}

#green-button1
{
  font-family: Verdana;
  font-size: 18px;
  text-align: center;	
  width: 150px;
  height: 25px;
  margin-left: -60px;
  background-color: #C6FF4B;
  border-radius: 70px;
  position: relative;
  left: 74%;
  top: -4.7%;	
}

#green-button4
{
  font-family: Verdana;
  font-size: 18px;
  width: 150px;
  height: 25px;
  background-color: #C6FF4B;
  border-radius: 70px;
  text-align: center;
  position: relative;
  left: 80%;
}

#first-ul > li
{
  margin: 0;
  display: inline;
  color: #ffffff;
  font-size: 20px;
  font-family: Verdana;
  margin-left: 10.5%; 	
}

#for-input-ul1
{
  font-size: 20px;
  color: #ffffff;
  list-style-type: none;
  position: relative; 
  left: 10%;	
}

#for-input-ul2
{
  font-size: 20px;
  color: #ffffff;
  list-style-type: none;
  position: relative;
  left: 28%;
  top: -23%;	
}

#for-input-ul3
{
  font-size: 20px;
  color: #ffffff;
  list-style-type: none;
  position: relative;
  left: 43%;
  top: -46%;		
}

#for-input-ul4
{
  font-size: 20px;
  color: #ffffff;
  list-style-type: none;
  position: relative;
  left: 58%;
  top: -69%;	
}

#for-input-ul5
{
  font-size: 20px;
  color: #ffffff;
  list-style-type: none;
  position: relative;
  left: 75%;
  top: -92%;	
}

}