<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Мероприятия Красноярска</title>
  <style>
    .res
    {
      color: #FFFFFF;
      font-size: 14px;
      font-family: Verdana;
      margin-top: 8px;
      margin-left: 30px;  
    }
  </style>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial scale=1.0">
	<link rel="stylesheet" href="/static/style.css">
  <link rel="stylesheet" href="/static/style1280.css">
  <link rel="stylesheet" href="/static/style1024.css">
  <link rel="stylesheet" href="/static/style768.css">
  <link rel="stylesheet" href="/static/style380.css">
</head>
<body>
  <div id = "header">
  	<p id = "main-text">Мероприятия Красноярска</p>
  	<p id = "enter-button" onclick="enter_button()">Вход /</p>
  	<p id="registration-button" onclick="registration_button()">&nbsp;{{ username }} </p>
  </div>
  <div id = "main">
  	<div class="inf"><p>1. Зарегистрируйся</p></div>
  	<div class="inf"><p>2. Укажи предпочтения</p></div>
  	<div class="inf"><p>3. Выбери мероприятие</p></div>
  	<div class="inf_big">
  		<p>Кино</p>
  		<p>Выставки</p>
  		<p>Театр</p>
  		<p>Спортивные события</p>
  		<p>И многое другое</p>
  	</div>
  </div>

  <div id="registration-window">
    <p>Регистрация</p>
    <div class="close-button" onclick="close_registration_window()">X</div>
    <form method="post" action="/registration">
    	<input class="form1" name="email" required="" placeholder="{{ mail }}">
    	<input class="form1" name="login" required="" placeholder="{{ login }}">
    	<input class="form1" name="name"  required="" placeholder="Ваше имя">
    	<input class="form1" name="password" placeholder="Пароль">
    	<input class="accept_button" type="submit" name="accept" value="Зарегистрироваться">
    </form>
  </div>

  <div id="enter-window">
    <p>Вход</p>
    <div class="close-button" onclick="close_enter_window()">X</div>
    <form action="/auth" id='enter-form' method="post">
    	<input class="form1" name="loginoremail" required="" placeholder="{{aumaillogin}}">
    	<input class="form1" type="password" name="password" required="" placeholder="{{aupassword}}">
    	<input class="accept_button" type="submit" name="accept" value="Войти" onclick="enter()">
    </form>
  </div>

  <div id="main2">
  	<p>Мероприятия</p>
  	<div id="green-button1" onclick="open_tags_window()">Предпочтения</div>
  	<div id="green-button2" onclick="output_result()">Поиск</div>
    <div class="res"></div>
    <div class="res"></div>
    <div class="res"></div>
    <div class="res"></div>
    <div class="res"></div>
    <div class="res"></div>
    <div class="res"></div>
    <div class="res"></div>
    <div class="res"></div>
    <div class="res"></div>
  </div>

  <div id="tags-window">
  	<div id="green-button3">Предпочтения</div>
  	<div id="green-button4" onclick="save_tags()">Сохранить</div>
    <ul id="first-ul">
      <li>Концерты</li>
      <li>Театр</li>
      <li>Спорт</li>
      <li>Для детей</li>	
    </ul>
    <ul id="for-input-ul1">
      <li><input type="checkbox" name="" class="inp">Хип-Хоп</li>
      <li><input type="checkbox" name="" class="inp">Рок</li>
      <li><input type="checkbox" name="" class="inp">Электро</li>
      <li><input type="checkbox" name="" class="inp">Поп</li>
      <li><input type="checkbox" name="" class="inp">Классика</li>	
    </ul>
    <ul id="for-input-ul2">
      <li><input type="checkbox" name="" class="inp">Драма</li>
      <li><input type="checkbox" name="" class="inp">Комедия</li>
      <li><input type="checkbox" name="" class="inp">Опера</li>
      <li><input type="checkbox" name="" class="inp">Балет</li>
      <li><input type="checkbox" name="" class="inp">Мюзикл</li>	
    </ul>
    <ul id="for-input-ul3">
      <li><input type="checkbox" name="" class="inp">Единоборства</li>
      <li><input type="checkbox" name="" class="inp">Игровые виды</li>
      <li><input type="checkbox" name="" class="inp">Гимнастика</li>
      <li><input type="checkbox" name="" class="inp">Авто/мото спорт</li>
      <li><input type="checkbox" name="" class="inp">Зимние виды</li>	
    </ul>
    <ul id="for-input-ul4">
      <li><input type="checkbox" name="" class="inp">Малышам</li>
      <li><input type="checkbox" name="" class="inp">7-12 лет</li>
      <li><input type="checkbox" name="" class="inp">От 12 лет</li>	
    </ul>
  </div>
  <p id='jsfromflask'>{{ prov }}</p>
  <script src="/static/script.js" type="text/javascript"></script>
  <script type="text/javascript">
    let body11 = document.getElementById('header');
    let body22 = document.getElementById('main');
    let body33 = document.getElementById('main2');
    let body44 = document.getElementById('tags-window');

    function save_tags()
    {
      let i;
      for (i = 0; i < list_of_tags.length; i++)
      {
        if (list_of_tags[i].checked)
        {
          tags.push(list_of_tags[i].parentNode.textContent);
        } 
      }
      body4.style.display = "none";
      body3.style.display = "block";
    }

    function output_result()
    {
      const request = new XMLHttpRequest();
      request.open('POST', '/result', false);
      const data = new FormData();
      list = ''
      for (i = 0; i < tags.length; i++)
      {
        list = list + tags[i] + ',';
      }
      data.append('list', list)  
      request.send(data);
      string = request.responseText
      list1 = string.split(';')
      for (i = 0; i < list1.length; i++)
      {
        let div = document.createElement('div');
        div.className = 'res';
        div.innerHTML = list1[i];
        body33.append(div);
      }

    }
    function ready() 
    {
      let prov = document.getElementById('jsfromflask')
      if (prov.textContent == 1)
        {
          let window = document.getElementById('registration-window');
          body11.style.opacity = '0.1';
          body22.style.opacity = '0.1';
          window.style.display = 'block';
        }
      if (prov.textContent == 2)
        {
          let window = document.getElementById('enter-window');
          body11.style.opacity = '0.1';
          body22.style.opacity = '0.1';
          window.style.display = 'block';
        }
      if (prov.textContent == 3)
        {
          body22.style.display = "none";
          body11.style.opacity = '1';
          b = document.getElementById('enter-button');
          a = document.getElementById('registration-button');
          b.remove();
          a.style.marginLeft = '50%';
          body33.style.display = 'block';
          body33.style.marginTop = '0px';
          body44.style.marginTop = '10px';
        }     
    }
    document.addEventListener("DOMContentLoaded", ready);
  </script>
</body>
</html>